.login {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  height: 100vh;
  // background-image: url("../../assets/img/regBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login > img {
  border-radius: 20px;
  object-fit: contain;
  height: 70px;
  margin: 20px 0;
}
.login > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:50px 15px;
  background-color:rgba(62, 62, 61, 0.6);
  border-radius: 15px
}
.login > form > label > div {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
}

.login > form > input {
  max-width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}
.login > form > button {
  width: 226px;
  height: 50px;
  font-size: larger;
  color: #ffff;
  border-radius: 10px;
  background-color: #244746;
  cursor: pointer;
  border: none;
  margin-top: 40px;
}

.login__register {
  font-size: 20px;
  color: #244746;
  cursor: pointer;
  font-weight: bold;
}
.login__register-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
